[tool.poetry]
name = "mudder"
version = "0.1.3"
description = "Python port of mudderjs"
readme = "README.md"
authors = ["Patrick Gingras <775.pg.12@gmail.com>"]
license = "BSD-3-Clause"
homepage = "https://github.com/fellowinsights/mudder-py"
repository = "https://github.com/fellowinsights/mudder-py"

[tool.poetry.dependencies]
python = ">=3.6,<4"

[tool.poetry.dev-dependencies]
black = { version = "19.10b0", allow-prereleases = true, python = ">=3.6" }
isort = "^4.3"
pytest = "^5.4.3"
mypy = "^0.782"
flake8 = "^3.8.3"
flake8-bugbear = "^20.1.4"

[tool.black]
max-line-length = 88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
