[tool.poetry]
name = "mudder"
version = "0.1.0"
description = "Python port of mudderjs"
authors = ["Patrick Gingras <775.pg.12@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.6,<4"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
mypy = "^0.782"
flake8 = "^3.8.3"
flake8-bugbear = "^20.1.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
